<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GINtool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GINtool.Properties.Settings>
            <setting name="referenceFile" serializeAs="String">
                <value>not defined yet</value>
            </setting>
            <setting name="referenceSheetName" serializeAs="String">
                <value>Sheet1</value>
            </setting>
            <setting name="referenceBSU" serializeAs="String">
                <value>locus_tag</value>
            </setting>
            <setting name="referenceRegulon" serializeAs="String">
                <value>regulator</value>
            </setting>
            <setting name="referenceDIR" serializeAs="String">
                <value>mode</value>
            </setting>
            <setting name="fcLOW" serializeAs="String">
                <value>1.5</value>
            </setting>
            <setting name="fcMID" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="fcHIGH" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="referenceGene" serializeAs="String">
                <value>gene</value>
            </setting>
            <setting name="operonFile" serializeAs="String">
                <value />
            </setting>
            <setting name="pvalue_cutoff" serializeAs="String">
                <value>0.05</value>
            </setting>
            <setting name="use_pvalues" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="operonSheet" serializeAs="String">
                <value>Sheet1</value>
            </setting>
            <setting name="sortAscending" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="categoryFile" serializeAs="String">
                <value />
            </setting>
            <setting name="catSheet" serializeAs="String">
                <value>Sheet1</value>
            </setting>
            <setting name="regPlot" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="tblMap" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="tblCombine" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="tblSummary" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="catPlot" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="distPlot" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="useCat" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="tblOperon" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="useSort" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="genesFileName" serializeAs="String">
                <value />
            </setting>
            <setting name="genesSheetName" serializeAs="String">
                <value>Sheet1</value>
            </setting>
            <setting name="genesBSUColumn" serializeAs="String">
                <value>locus_tag</value>
            </setting>
            <setting name="genesNameColumn" serializeAs="String">
                <value>gene</value>
            </setting>
            <setting name="genesFunctionColumn" serializeAs="String">
                <value>function</value>
            </setting>
            <setting name="genesDescriptionColumn" serializeAs="String">
                <value>description</value>
            </setting>
            <setting name="catBSUColum" serializeAs="String">
                <value>locus tag</value>
            </setting>
            <setting name="catCatIDColumn" serializeAs="String">
                <value>category id</value>
            </setting>
            <setting name="catCatDescriptionColumn" serializeAs="String">
                <value>description</value>
            </setting>
            <setting name="use_foldchange" serializeAs="String">
                <value>False</value>
            </setting>
        </GINtool.Properties.Settings>
    </userSettings>
</configuration>