<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GINtool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GINtool.Properties.Settings>
            <setting name="referenceFile" serializeAs="String">
                <value>not defined yet</value>
            </setting>
            <setting name="referenceSheetName" serializeAs="String">
                <value>Sheet1</value>
            </setting>
            <setting name="referenceBSU" serializeAs="String">
                <value>locus_tag</value>
            </setting>
            <setting name="referenceRegulon" serializeAs="String">
                <value>regulon</value>
            </setting>
            <setting name="referenceDIR" serializeAs="String">
                <value>mode</value>
            </setting>
        </GINtool.Properties.Settings>
    </userSettings>
</configuration>